@reference '../../../assets/css/styles.css';

.navbar {
  @apply dark:bg-neutral-800
  container
  flex
  flex-wrap
  justify-between
  mx-auto;

  @apply px-4 py-2 lg:py-4;

  @apply border-b-2 border-b-gray-100  dark:border-slate-800;

  @variant lg {
    @apply flex-row border-b-transparent border-b-0;
  }
}

.navbar--fix-top {
  @apply left-0 fixed right-0 top-0 z-50;
}

.navbar__container {
  @apply flex items-center justify-between w-full;
  @apply text-theme;

  flex-wrap: inherit;

  @variant lg {
    @apply justify-end;
  }
}

.navbar-brand {
  @apply inline-block;

  @variant lg {
    @apply hidden;
  }
}

.navbar-brand__title {
  @apply m-0 text-theme inline font-bold;
}

.navbar__toggler {
  @apply inline-block;

  @variant lg {
    @apply hidden;
  }
}

.navbar__actions {
  @apply flex items-center justify-between;

  @variant lg {
    @apply order-2;
  }
}

.navbar__navigation {
  @apply flex flex-col;

  @variant lg {
    @apply flex-row;
  }
}

.navbar__collapse {
  @apply basis-full flex mx-1;

  @variant lg {
    @apply basis-auto! flex!;
  }
}

.navbar__collapse--show {
  @apply flex!;
}

.collapsable:not(.navbar__collapse--show) {
  @apply hidden;
}

.navbar__menu {
  @apply flex flex-col mx-1;

  @variant lg {
    @apply flex-row;
  }
}

.navbar-link {
  @apply text-theme p-2;

  @variant lg {
    @apply flex-row;
  }
}

.navbar-link--active {
  @apply text-teal-500;

  @variant lg {
    @apply text-theme;
  }

  & > span {
    @apply bg-teal-500;
    @apply dark:bg-sky-400;
  }
}

.navbar-link__bar {
  transition: background 0.3s ease-in;
  @apply bg-transparent h-1 hidden;

  @variant lg {
    @apply block;
  }
}

.navbar__langs-dropdown {
}

.navbar__theme {
  @apply p-2 flex justify-evenly items-center;

  @variant lg {
    text-align: initial;
  }
}

.navbar__switch-theme {
  @apply text-theme inline;

  @variant lg {
    @apply hidden;
  }
}
